<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pokedex"
        tools:targetApi="31">
        <receiver android:name=".service.PokedexReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="profileCreated"></action>
                <action android:name="profileEdited"></action>
                <action android:name="profileDeleted"></action>
                <action android:name="favoriteAdded"></action>
                <action android:name="favoriteDeleted"></action>
                <action android:name="teamCreated"></action>
                <action android:name="teamEdited"></action>
                <action android:name="teamDeleted"></action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Pokedex">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".service.music.PokemonMusicService" />
    </application>

</manifest>